<a href="https://colab.research.google.com/github/hsym-uec/myWeb_github/blob/main/Simmple_Stock.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
# SoftBank Stock data from Stooq.com
# reference https://seanmemo.com/234/

from pandas_datareader import data
start = '2023-04-01'
end = '2023-04-18'
#6501：日立製作所
df = data.DataReader('6501.JP', 'stooq', start, end)

In [12]:
df

            Open  High   Low  Close   Volume
Date
2023-04-18  7550  7629  7528   7594  2890100
2023-04-17  7530  7563  7457   7500  2904600
2023-04-14  7377  7414  7324   7407  2777800
2023-04-13  7360  7365  7294   7305  2300300
2023-04-12  7320  7375  7300   7357  2595600
2023-04-11  7322  7345  7274   7300  2361900
2023-04-10  7264  7314  7239   7300  1913200
2023-04-07  7210  7249  7171   7198  2423400
2023-04-06  7033  7209  6992   7171  3978600
2023-04-05  7325  7325  7170   7176  3549000
2023-04-04  7370  7512  7361   7442  4217800
2023-04-03  7310  7366  7276   7359  2685900

In [15]:
#https://dev.classmethod.jp/articles/pandas_datareader-mplfinance-tech/
#データのグラフ化

import mplfinance as mpf

df = df.sort_index()
mpf.plot(df, title='\nSoftBank()', type='candle', mav=(5, 25), volume=True, savefig='6501_JP.png')

In [ ]:
import tkinter as tk
import tkinter.ttk as ttk
import datetime
import time
import csv
import os
import sys
from PIL import Image
#数値を画面に出力するための関数
def draw_graph():
    #テキストボックスの内容を取得
    global number, start, end
    number2=str(number.get())
    start2 =str(start.get())
    end2   =str(end.get())
    filename = number2+'_JP.png'
    #株式データの取得
    df = data.DataReader(number2+'.JP', 'stooq', start2, end2)
    df = df.sort_index()
    #グラフの描画と保存
    mpf.plot(df, title='\n'+number2, type='candle', mav=(5, 25), volume=True, savefig=filename)
 
    #画像のサイズ取得
    img = Image.open(filename)
    width = img.width
    height = img.height
 
    #サブウィンドウの追加
    sub = tk.Toplevel()
    sub.title(number2)
    sub.geometry(str(width)+"x"+str(height))
    #グラフの描画
    graph = tk.PhotoImage(file=filename)
    canvas = tk.Canvas(sub,bg='white', width = width, height = height)
    canvas.place(x=0, y=0)
    canvas.create_image(0,0,image=graph, anchor=tk.NW)
    
# トップレベルウィンドウ作成
root = tk.Tk()

number_label = ttk.Label(
    root,
    text="num",
    width=5,
    relief=tk.SUNKEN,
)
number_label.grid(row=0, column=0, padx=20, pady=5)

start_label = ttk.Label(
    root,
    text="start",
    width=5,
    relief=tk.SUNKEN,
)
start_label.grid(row=1, column=0, padx=20, pady=5)

end_label = ttk.Label(
    root,
    text="end",
    width=5,
    relief=tk.SUNKEN,
)
end_label.grid(row=2, column=0, padx=20, pady=5)


number = tk.Entry(width=20)
number.grid(row=0, column=1, padx=10, pady=5)
start = tk.Entry(width=20)
start.grid(row=1, column=1, padx=10, pady=5)
end = tk.Entry(width=20)
end.grid(row=2, column=1, padx=10, pady=5)



draw = tk.StringVar(root)
draw.set("DRAW!")
draw_button = tk.Button(root, textvariable=draw, command=draw_graph)
draw_button.grid(row=3, column=1, padx=10, pady=5)


root.mainloop()